<script src="<?php echo CONTACT_LIB_PATH; ?>bootstrap-button.js"></script>
<script src="<?php echo CONTACT_JS_PATH; ?>contact.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Contact Us</h2>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="contact_form" name="contact_form" class="form-contact">
                  <div class="col-sm-5 col-sm-offset-1">
                      <div class="form-group">
                          <label>Name *</label>
                          <input type="text" id="inputName" name="inputName" placeholder="Name" class="form-control" dir="auto" maxlength="100">
                      </div>
                      <div class="form-group">
                          <label>Email *</label>
                          <input type="text" id="inputEmail" name="inputEmail" placeholder="Email *" class="form-control" maxlength="100">
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <div class="form-group">
                        <label for="sel1">Subject</label>
                        <select class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                            <option value="compra">Info relativa a tu compra</option>
                            <option value="evento">Celebra un evento con nosotros</option>
                            <option value="programacion">Contacta con nuestro dpto de programacion</option>
                            <option value="Trabaja">Trabaja con nosotros</option>
                            <option value="proyectos">Deseas proponernos proyectos</option>
                            <option value="sugerencias">Haznos sugerencias</option>
                            <option value="reclamaciones">Atendemos tus reclamaciones</option>
                            <option value="club">Club rural_shop</option>
                            <option value="sociales">Proyectos sociales</option>
                            <option value="festivos">Apertura de festivos</option>
                            <option value="novedades">Te avisamos de nuestras novedades</option>
                            <option value="diferente">Algo diferente</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <label>Message *</label>
                          <textarea class="form-control" rows="4" name="inputMessage" placeholder="Message *" style="max-width: 100%;" dir="auto"></textarea>
                      </div>
                      <input type="hidden" name="token" value="contact_form" />

                      <input class="btn btn-primary" type="submit" name="submit" id="submitBtn" disabled="disabled" value="send" />

                      <img src="<?php echo CONTACT_IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

                      <div id="resultMessage" style="display: none;"></div>
                  </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
