<!-- Script with absolute route -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
  <p><h2>Input a new player:</h2></p>
   <div class="status alert alert-success" style="display: none"></div>
  <form name="form_players" id="form_players">
      <br>
      <table>
          <tr>
             <td>Name: </td>
             <td id="error_name"><input type="text" name="name" id="name" required="required" placeholder="Player name"
               value=""/>
               <div></div>
             </td>
          </tr>
          <tr>
             <td>Surname: </td>
             <td id="error_surname"><input type="text" name="surname" id="surname" required="required" placeholder="Player surname"
              value=""/>
              <div ></div>
             </td>
          </tr>
          <tr>
             <td>Position:</td>
             <td>
                 Goalkeeper <input name="position" id="position" type="radio" class="position" value="goalkeeper" checked>
     			       Defender <input name="position" id="position" type="radio" class="position" value="defender">
     			       Midfielder <input name="position" id="position" type="radio" class="position" value="midfielder">
                 Striker <input name="position" id="position" type="radio" class="position" value="striker">
             </td>
          </tr>
          <tr>
            <div class="form-group">
                 <td>Strong foot: </td>
                 <td id="error_foot">
                    Left <input type="checkbox" name="foot[]" id="foot[]" class="footCheckbox" value="left">
                    Right <input type="checkbox" name="foot[]" id="foot[]" class="footCheckbox" value="right">
              <!--<td><div id="error_category"></div></td>-->
            </div>
                 </td>
          </tr>
          <tr><td>Team:</td></tr>
          <tr>
              <td>Country: </td>
  			  <td id="error_country">
  			    <select name="country" id="country">
  			    <option selected>Select country</option>
  				</select>
  				<div ></div>
  			</td>
          </tr>
          <tr>
            <td> </td>
          </tr>
          <tr>
              <td>League: </td>
  			  <td id="error_league">
  			    <select name="league" id="league">
  			    <option selected>Select League</option>
  				</select>
  				<div></div>
  			</td>
          </tr>
          <tr>
            <td> </td>
          </tr>
          <tr>
              <td>Team: </td>
  			  <td id="error_team">
  			    <select name="team" id="team">
  			    <option selected>Select team</option>
  				</select>
  				<div></div>
  			</td>
          <tr>
  		   <td>Reception date: </td>
  		   <td id="error_date_reception"><input type="text" name="date_reception" id="date_reception" placeholder="Reception date" readonly="readonly"
           value=""/>
           <div ></div>
         </td>
  		</tr>
  		<tr>
  		   <td>Expiration date: </td>
  		   <td id="error_date_expiration"><input type="text" name="date_expiration" id="date_expiration" placeholder="Expiration date" readonly="readonly"
           value=""/>
           <div ></div>
         </td>
         <tr>
            <td>Appearances: </td>
            <td id="error_appearances"><input type="number" min="1" name="appearances" id="appearances" required="required" placeholder="Appearances"
             value=""/>
             <div ></div>
           </td>
         </tr>
  		</tr>
      <tr>
       <td>Description: </td>
         <td id="error_description"><textarea rows="4" cols="50" name="description" id="description" placeholder="Player description"
           value=""></textarea>
           <div></div>
          </td>
      </tr>
      <tr>
        <td>Image: </td>
          <td>
            <div class="form-group" id="progress">
            <div id="bar"></div>
            <div id="percent">0%</div >
            </div>
            <div class="msg"></div>
            <br/>
            <div id="dropzone" class="dropzone"></div><br/>
          </td>
        </tr>
      </table>
      <br/>
      <button type="button" class="btn btn-outline-success" name="players" id="players" value="submit">
        Submit player
      </button>
  </form>
<script type="text/javascript" src="<?php echo PLAYERS_JS_PATH ?>controller_players.js" ></script>
