<br/>
<section id="results-page">
    <div class="container">
        <div class="center">
            <h2>PLAYER RESULT</h2>
            <p class="lead">Here you have the player information you have filled in the form</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <div id="content"></div>
            <script type="text/javascript" src="<?php echo PLAYERS_JS_PATH ?>list_players.js"></script>
        </div>
    </div>
</section>
