<footer>
  <div class="inner-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 f-about">
          <a href="index.html"><h1><span>e</span>Nno</h1></a>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero
          vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam  consectetur adipiscing elit Cras suscipit arcu libero
          </p>
        </div>
        <div class="col-md-4 l-posts">
          <h3 class="widgetheading">Latest Posts</h3>
          <ul>
            <li><a href="#">This is awesome post title</a></li>
            <li><a href="#">Awesome features are awesome</a></li>
            <li><a href="#">Create your own awesome website</a></li>
            <li><a href="#">Wow, this is fourth post title</a></li>
          </ul>
        </div>
        <div class="col-md-4 f-contact">
          <h3 class="widgetheading">Stay in touch</h3>
          <a href="#"><p><i class="fa fa-envelope"></i> example@gmail.com</p></a>
          <p><i class="fa fa-phone"></i>  +345 578 59 45 416</p>
          <p><i class="fa fa-home"></i> Enno inc  |  PO Box 23456
            Little Lonsdale St, New York <br>
            Victoria 8011 USA</p>
        </div>
      </div>
    </div>
  </div>


  <div class="last-div">
    <div class="container">
      <div class="row">
        <div class="copyright">
          © 2014 eNno Multi-purpose theme | <a target="_blank" href="http://bootstraptaste.com">Bootstraptaste</a>
        </div>
                  <!--
                      All links in the footer should remain intact.
                      Licenseing information is available at: http://bootstraptaste.com/license/
                      You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=eNno
                  -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ul class="social-network">
          <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
          <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
        </ul>
      </div>
    </div>

    <a href="" class="scrollup"><i class="fa fa-chevron-up"></i></a>


  </div>
</footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="<?php echo JS_PATH ?>jquery-2.1.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="<?php echo JS_PATH ?>bootstrap.min.js"></script>
  <script src="<?php echo JS_PATH ?>wow.min.js"></script>
  <script src="<?php echo JS_PATH ?>jquery.easing.1.3.js"></script>
  <script src="<?php echo JS_PATH ?>jquery.isotope.min.js"></script>
  <script src="<?php echo JS_PATH ?>jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="<?php echo JS_PATH ?>fliplightbox.min.js"></script>
  <script src="<?php echo JS_PATH ?>functions.js"></script>
  <script type="text/javascript">$('.portfolio').flipLightBox()</script>
<!-- OTHER SCRIPTS -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<!-- BOOTPAG -->
<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>jquery.bootpag.min.js"></script>

<!-- CONTACT -->
<script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.min.js"></script>
<script src="<?php echo CONTACT_LIB_PATH; ?>jquery.validate.extended.js"></script>
<!-- CREATE -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>


</body>
</html>
