<script src="<?php echo CONTACT_LIB_PATH; ?>bootstrap-button.js"></script>
<script src="<?php echo LOGIN_JS_PATH; ?>change.js"></script>

<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Recover Password</h2>
              <p>Recover your password here.</p>
          </div>
          <form id="changepass_form" name="changepass_form" class="form-contact">
            <div>
                <div class="form-group">
                  <label>New Password *</label>
                  <input type="password" id="c_password" name="c_password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Repeat Password *</label>
                  <input type="password" id="c_password2" name="c_password2" class="form-control">
                </div>
            </div>

              <input class="btn btn-primary" type="button" name="change" id="change" value="Enviar"/>

              <img src="<?php echo IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

              <div id="resultMessage" style="display: none;"></div>
          </form>
      </div>
</section>
