<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Drop Your Message</h2>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                  <div class="col-sm-4 col-sm-offset-1">
                      <div class="form-group">
                          <label>Username *</label>
                          <input type="text" name="username" id="l_username" class="form-control">
                      </div>
                      <!-- <div class="form-group">
                          <label>Email *</label>
                          <input type="email" name="email" class="form-control">
                      </div> -->
                      <div class="form-group">
                          <label>Password *</label>
                          <input type="password" name="password" id="l_password" class="form-control">
                      </div>
                      <div class="form-group">
                          <button type="button" name="login" id="login" class="btn btn-primary btn-lg" required="required"><i class="glyphicon glyphicon-log-in"></i> Log In</button>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label>¿No estas registrado? Registrate aquí</label></br>
                          <a href="<?php amigable('?module=login&function=signup'); ?>"><button type="button" name="signin" id="signup" class="btn btn-primary btn-lg" required="required"><i class="glyphicon glyphicon-user"></i> Sign Up</button></a>
                      </div>
                    </br></br></br>
                      <div class="form-group">
                          <label>¿Has olvidado la contraseña?</label>
                          <a href="<?php amigable('?module=login&function=recover'); ?>"><button type="button" name="recover" id="recover" class="btn btn-primary btn-lg" required="required"><i class="glyphicon glyphicon-asterisk"></i> Recover Password</button></a>
                      </div>
                  </div>
                  <div class="col-sm-2">
                          <button type="button" class="btn btn-primary btn-lg" id="fb_login"><i class="fa fa-facebook fa-3x"></i></button></br></br>
                          <button type="button" class="btn btn-primary btn-lg" id="tw_login"><i class="fa fa-twitter fa-3x"></i></button></br></br>
                          <!-- <a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-3x"></i></a></br></br> -->
                          <!-- <a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-3x"></i></a></br> -->
                          <button type="button" class="btn btn-primary btn-lg" id="g_login"><i class="fa fa-google-plus fa-3x"></i></button>
                  </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script src="<?php echo LOGIN_JS_PATH ?>login.js"></script>
<script src="<?php echo LOGIN_JS_PATH ?>facebook.js"></script>
<script src="<?php echo LOGIN_JS_PATH ?>twitter.js"></script>
<script src="<?php echo LOGIN_JS_PATH ?>google.js"></script>
