</br></br>
<section id="contact-page">
      <div class="container">
        <div class="center">
            <h2>Profile</h2>
            <p>Set your profile here.</p>
        </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="profile_form" name="profile_form" class="contact-form">
                <img id="p_avatar_user" src=""  width="75px" height="75px"/>
                <br/> <br/>
                  <div class="col-sm-5 col-sm-offset-1">
                      <div class="form-group">
                          <label>Username *</label>
                          <input type="text" name="p_username" id="p_username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Name *</label>
                          <input type="text" name="p_name" id="p_name" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Birth Date *</label>
                          <input type="text" id="p_birth" name="p_birth" class="form-control">
                      </div>
                      <div class="form-group">
                        <label class="pefil">Password *</label>
                        <input type="password" id="p_password" name="p_password" class="form-control">
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <div class="form-group">

                        <span id="p_avatar" class="styerror" style="color:#FF0000"></span>
                        <div id="progress">
                            <div id="bar"></div>
                            <div id="percent"></div >
                        </div>
                        <div class="msg"></div>
                        <br/>
                        <div id="dropzone" class="dropzone"></div>

                        <br />
                      </div>
                      <div class="form-group">
                        <label class="email pefil">Email *</label>
                        <input type="email" id="p_email" name="p_email" class="form-control">
                      </div>
                  </div>
                    <div class="form-group">
                        <button type="button" name="profile_btn" id="profile_btn" class="btn btn-primary btn-lg" required="required" value="Enviar">Submit Profile</button>
                    </div>
              </form>
          </div><!--/.row-->
      </div><!--/.container-->
  </section><!--/#contact-page-->

<script src="<?php echo LOGIN_JS_PATH ?>profile.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css" />
