<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Recover Password</h2>
              <p>Recover your password here.</p>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="recover_form" class="contact-form" name="recover_form">
                  <div>
                      <div class="form-group">
                          <label>Email *</label>
                          <input type="text" id="r_email" name="r_email" class="form-control">
                      </div>
                      <div class="form-group">
                          <input type="hidden" name="token" id="token" value="recover_form" />
                          <button type="button" name="recover" id="recover" class="btn btn-primary btn-lg" required="required" value="Enviar"><i class="glyphicon glyphicon-log-in"></i> Recover Password</button>
                      </div>
                  </div>
                  <img src="<?php echo CONTACT_IMG_PATH; ?>ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

                  <div id="resultMessage" style="display: none;"></div>
                </form>
            </div>
          </div>
</section>
<script src="<?php echo LOGIN_JS_PATH ?>recover.js"></script>
