<section id="contact-page">
      <div class="container">
          <div class="center">
              <h2>Sign Up</h2>
              <p>Create your account here.</p>
          </div>
          <div class="row contact-wrap">
              <div class="status alert alert-success" style="display: none"></div>
              <form id="main-contact-form" class="contact-form" name="contact-form">
                  <div>
                      <div class="form-group">
                          <label>Username *</label>
                          <input type="text" id="s_username" name="s_username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Email *</label>
                          <input type="email" id="s_email" name="s_email" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Password *</label>
                          <input type="password" id="s_password" name="s_password" class="form-control">
                      </div>
                      <div class="form-group">
                          <button type="button" name="s_signup" id="s_signup" class="btn btn-primary btn-lg" required="required" value="Enviar"><i class="glyphicon glyphicon-log-in"></i> Sign Up</button>
                      </div>
                  </div>
                  <div id="resultMessage" style="display: none;"></div>
                </form>
            </div>
          </div>
</section>
<script src="<?php echo LOGIN_JS_PATH ?>signup.js"></script>
