<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>list_home.js" ></script>
<script type="text/javascript" src="<?php echo HOME_JS_PATH ?>gmaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXXG9IMDbrmFn2no2ftECYlZXQtKFAPSE" async defer></script>
<br><br>

<div id="map_canvas" style=" width: 1500px; height: 500px"></div>

<center>
    <br />
    <br />
    <br />
    <form name="search_prod" id="search_prod" class="search_prod">
        <input type="text" value="" placeholder="Search Product ..." class="input_search" id="keyword" list="datalist">
        <input name="Submit" id="Submit" class="button_search" type="button" />
    </form>
</center>
<br />
<br />
<br />

<div id="results"></div>

<center>
    <div class="pagination"></div>
</center>

<!-- modal window details_product -->
    <section id="player" class='container'>
        <div id="details_player" class='row text-center pad-row'>
        </div>
    </section>
